# Temporal
TEMPORAL_DB_USER=temporal
TEMPORAL_DB_PASSWORD=temporal

# n8n
N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=changeme
N8N_DB_USER=n8n
N8N_DB_PASSWORD=n8n
N8N_DB_NAME=n8n

# Node-RED
NODE_RED_TZ=UTC
